.timelineContainer {
  margin: 10px;
  width: 98.5%;
  height: 75vh;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.eventDateSelectorContainer {
  margin: 10px 20px 0;
}
