.timelineContainer {
  position: absolute;
  margin: 2%;
  width: 95%;
  height: 85vh;
  background: rgba(0, 2, 35, 0.83);
  border-left: 0.5px solid rgba(255, 255, 255, 0.2);
  border-right: 0.5px solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.16);
  overflow: hidden;
}

.eventDateSelectorContainer {
  position: absolute;
  top: 88vh;
  margin: 25px 0 0;
}

.zoom {
  position: absolute;
  top: 91.5vh;
  left: 36vw;
}
